<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['/']" >Home</a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['peliculas']" >Peliculas</a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['todo']" >Todo</a>
        </li>
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['http']" >HTTP</a>
        </li>
    </ul>
</nav>