<h1>
  {{title}}
</h1>



<button type="button" 
  class="btn btn-large btn-block btn-default"
  (click)="onVisibility(true)"
  *ngIf="mostrarDatos === false">Mostrar Listado</button>
<button type="button" 
  class="btn btn-large btn-block btn-default"
  (click)="onVisibility(false)"
  *ngIf="mostrarDatos === true">Ocultar Listado</button>


<ul *ngIf="mostrarDatos === true">
  <li>Pelicula: {{pelicula.title}}</li>
  <li>Año: {{pelicula.anio}}</li>
  <li>Director: {{pelicula.director}}</li>
</ul>

<p>
  Cambiar titulo
  <input type="text"
    (keypress)="debug(true)"
    [(ngModel)]="pelicula.title">
</p>